@import 'tailwindcss';
@import './assets/fonts/Outfit_Complete/Fonts/WEB/css/outfit.css';

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  line-height: 1.1;
  margin: 0;
  background-color: black;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary: #646cff;
}



a {
  font-weight: 500;
  /* color: var(--primary); */
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_basic {
  background-color: #512FEB;

  height: 38px;
  border-radius: 8px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  
  font-size: 15px;
  font-family: Outfit-Regular;
  line-height: 1.2em;
  letter-spacing: 0em;
}

.Badge {
  background-color: rgba(255, 255, 255, 0.1);
  border: 0.1px solid rgba(255, 255, 255, 0.7);

  height: 32.8px;
  border-radius: 8px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  
  font-size: 14px;
  font-family: Outfit-Light;
  line-height: 1.2em;
  letter-spacing: 0em;

}


/* Font sur le projet Framer */

.Heading_1 {
  font-size: 60px;
  font-family: Outfit-Medium;
  line-height: 1.1em;
  letter-spacing: -0.02em;
}

.Heading_2 {
  font-size: 50px;
  font-family: Outfit-Medium;
  line-height: 1.2em;
  letter-spacing: -0.02em;
}

.Heading_3 {
  font-size: 30px;
  font-family: Outfit-Medium;
  line-height: 1.2em;
  letter-spacing: -0.02em;
}

.Body_M {
  font-size: 18px;

  font-family: Outfit-Regular;
  line-height: 1.5em;
  letter-spacing: -0.02em;
}

.Body_S {
  font-size: 22px;

  font-family: Outfit-Light;
  line-height: 1.2em;
  letter-spacing: -0.02em;
}

.Card_title {
  font-size: 22px;

  font-family: Outfit-Regular;
  line-height: 1.2em;
  letter-spacing: -0.02em;
}

.Card_content {
  font-size: 16px;

  font-family: Outfit-Regular;
  line-height: 1.4em;
  letter-spacing: -0.02em;
}

.Body_XS {
  font-size: 14px;

  font-family: Outfit-Regular;
  line-height: 1.2em;
  letter-spacing: 0em;
}

.Body_XXS {
  font-size: 12px;

  font-family: Outfit-Light;
  line-height: 1.2em;
  letter-spacing: -0.02em;
}

.Body_XXXS {
  font-size: 10px;

  font-family: Outfit-Light;
  line-height: 1.2em;
  letter-spacing: -0.04em;
}

.Heading_4 {
  font-size: 22px;

  font-family: "Inter", bold;
  font-optical-sizing: auto;
  line-height: 1.2em;
  letter-spacing: -0.04em;
}

.Heading_5 {
  font-size: 18px;

  font-family: "Inter", bold;
  font-optical-sizing: auto;
  line-height: 1.4em;
  letter-spacing: -0.04em;
}

.Heading_5 {
  font-size: 16px;

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.4em;
  letter-spacing: -0.02em;
}